<%= form_for @project do |f|%>
<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>

	<!-- validationのエラーがあった場合に、project.errorsというところにエラーが入る -->
	<% if @project.errors.any? %>
		<%= @project.errors.messages[:title][0] %>
	<% end %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>
