<!DOCTYPE html>
<html>

<!-- 共通のヘッダー-->
<!-- 見かけを管理するもの -->
<head>
  <title>Taskapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- bootstrapを使えるようにする。 -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TaskApp</a>
      </div>
    </div>
    </nav>
    <div class="container">
        <%= yield %>
        <button type="button" class="btn btn-warning"><%= link_to "Home", projects_path, style:"color: white;" %></button>

    </div>
</body>
</html>
